name: Django CI

# on:
#   push:
#     branches: [ "main" ]
#   pull_request:
#     branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up environment variables
        run: |
          echo "ngrok_token=${{ secrets.NGROK_AUTH }}" > .env
          echo "SECRET_KEY=${{ secrets.SECRET_KEY }}" >> .env
          echo "CELERY_BROKER_URL='redis://redis:6379'" >> .env
          echo "CELERY_RESULT_BACKEND='redis://redis:6379'" >> .env
                
      - name: Build Docker Image and Run Tests
        run: |
          docker build . --file Dockerfile --tag ammarmoulla/video_text:v1
          docker-compose up --build
          # docker run ammarmoulla/video_text:v1
          # docker run --entrypoint "sh" ammarmoulla/video_text:v1 start.sh
          # docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
          # docker push ammarmoulla/video_text:v1
          
